doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Aksolabs Limited')
        meta(name='author', content='Aksolabs Limited')
        meta(name='keywords', content='software, software engineering, developer, consultancy')

        title Aksolabs - Innovation through agility

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(async, defer, src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        header
            nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
                .container.px-5
                    a.navbar-brand(href='#home') Aksolabs
                    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarResponsive.collapse.navbar-collapse
                        ul.navbar-nav.ms-auto
                            li.nav-item
                                a.nav-link(href='#about') About
                            li.nav-item
                                a.nav-link(href='#contact') Contact Us

        main

        main

            // Content section 1 - Home
            section#home.py-5
                .container.px-5
                    .row.gx-5.align-items-center
                        .col-lg-6
                            .p-5
                                h2.display-4 Aksolabs Limited
                                p.lead Full stack, cloud-native software services.
                                a.btn.btn-primary.btn-lg.rounded-pill(href='#about') Learn More
                        .col-lg-6
                            .p-5
                                img.img-fluid.rounded-circle(src='assets/img/aksolabsLogo.jpg', alt='Modern Software Development')

            // Content section 2
            section#about
                .container.px-5
                    .row.gx-5.align-items-center
                        .col-lg-6.order-lg-2
                            .p-5
                                img.img-fluid.rounded-circle(src='assets/img/whatWeDo.jpg', alt='What we do')
                        .col-lg-6.order-lg-1
                            .p-5
                                h2.display-4 What we do
                                p
                                    | At Aksolabs, we understand that making great software can be hard. We also understand that with the right team, making great software can be a breeze. That's why our experts are on hand to craft solutions that help you get back to focusing on growing your business.
                                p
                                    | With over a decade's experience of crafting solutions in our lab, we are well positioned to assist businesses in myriad sectors and of various sizes.
                                p
                                    | So if you are in need of great solutions that solve your problems while also being scalable and maintainable, #[a(href='#contact') get in touch] to see how we can help turbo charge your business.
                    .row.gx-5.align-items-center
                        .col-lg-6
                            .p-5
                                img.img-fluid.rounded-circle(src='assets/img/howWeDoIt.jpg', alt='How we do it')
                        .col-lg-6
                            .p-5
                                h2.display-4 How we do it
                                p
                                    | We believe that teamwork, collaboration and effective communication are essential to achieve the greatest results.
                                p
                                    | We use Agile and Lean methods to deliver useful software into production sooner. 
                                p
                                    | We automate processes to increase quality and reliability of said software.
                                p
                                    | We leverage the very best cloud services so you don't have to think about infrastructure.
                                p
                                    | We exploit and integrate the latest AI technologies to maximise your business benefits.
                                p
                                    | We monitor and alert to provide maximum visibility over systems.
                                p
                                    | We use the right technology that will keep your solutions serving your business for longer.
            
            // Content section 4
            section#contact
                .container.px-5
                    .row.gx-5.align-items-center
                        .col-lg-6
                            .p-5
                                img.img-fluid.rounded-circle(src='assets/img/contactUs.jpg', alt='How we do it')
                        .col-lg-6
                            .p-5
                                h2.display-4 Get in touch
                                p
                                    | Please fill in the form below if you would like to get in touch
                                p
                                    | You can also find us on #[a(href='https://www.linkedin.com/company/82009710/') #[i.fab.fa-linkedin] LinkedIn]

                                form(action="https://formspree.io/f/xeqneyla" method="POST" id="my-form")
                                    div(class="mb-3")
                                        label(class="form-label" for="emailInput") Email:
                                        input(class="form-control" type="email" name="email" id="emailInput" placeholder="Please enter your email" required)
                                    div(class="mb-3")
                                        label(class="form-label" for="messageInput") Message:
                                        textarea(class="form-control" name="message" id="messageInput" required)
                                    div(id="recaptcha" class="g-recaptcha" data-sitekey="6Lfxyj4nAAAAAA1ZcpzPpA7FgtzzpcdYYrYTT7bU")
                                    div(class="mb-3")
                                        button(type="submit" class="btn btn-primary" id="my-form-button") Submit
                                p#my-form-status
                                
        // Footer
        footer.py-5.bg-primary
            .container.px-5
                p.m-0.text-center.text-white.small Copyright &copy; Aksolabs Limited 2011-#{new Date().getFullYear()}

        // Bootstrap core JS
        script(async, defer, src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
        // ReCaptcha
        script(async, defer, src='https://www.google.com/recaptcha/api.js')

        // Core theme JS
        script(async, defer, src='js/scripts.js')