//
// Global
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 67px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header {
    margin-bottom: 5rem;
}
